@import url(http://weloveiconfonts.com/api/?family=entypo);
body {
  padding: 0;
  margin: 0;
  font-family: 'Ek Mukta', sans-serif;
  background-color: #000;
  /* entypo */ }
  body header {
    position: relative;
    z-index: 2; }
  body nav .navbar-nav li a:hover {
    cursor: pointer; }
  body .content {
    position: relative;
    z-index: 5;
    margin: 0 auto; }
    body .content .splash {
      position: absolute;
      width: 300px;
      left: 50%;
      margin-left: -150px;
      top: 30%; }
      body .content .splash .block {
        width: 100%;
        border: 5px solid #fff;
        padding: .5em;
        text-align: center;
        color: #fff;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.13);
        text-shadow: 0px 0px 3px #000; }
      body .content .splash .blurb {
        width: 300px;
        color: #fff;
        text-align: center;
        margin-top: 1em;
        font-weight: bold;
        text-shadow: 0 0 2px #000; }
  body .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 1; }
  body .bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    opacity: .7; }
  body [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif; }
  body.home .content {
    position: relative;
    margin-top: 3em; }
