@import url(http://weloveiconfonts.com/api/?family=entypo);
body {
  padding: 0;
  margin: 0;
  font-family: 'Ek Mukta', sans-serif;
  /* entypo */ }
  body header, body nav, body footer {
    position: relative;
    z-index: 2; }
  body .content {
    position: relative;
    z-index: 5;
    max-width: 900px;
    margin: 0 auto; }
    body .content .row {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 1em;
      margin: 1em; }
      body .content .row > div {
        background-color: #FFF;
        padding: 1em;
        border-radius: 5px; }
  body footer {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333333;
    font-size: .75rem;
    padding: 0.35rem;
    position: fixed;
    width: 100%;
    bottom: 0; }
  body .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 1; }
  body .bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%; }
  body [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif; }
  body.home .content {
    position: relative;
    margin-top: 3em; }
