$barcolor: rgba(255,255,255,0.5);
$bartext: #333;

@import url(http://weloveiconfonts.com/api/?family=entypo);


body {
	padding: 0;
	margin: 0;
	font-family: 'Ek Mukta', sans-serif;

	header, nav, footer {
		position: relative;
		z-index: 2;
	}

	.content {
		position: relative;
		z-index: 5;
		max-width: 900px;
		margin: 0 auto;


		.row {
			background: rgba(255,255,255,0.75);
			padding: 1em;
			margin: 1em;

			>div {
				padding: 1em;
			}
		}
	}

	footer {
		background-color: $barcolor;
		color: $bartext;
		font-size: .75rem;
		padding: 0.35rem;
		position: fixed;
		width: 100%;
		bottom: 0;
	}
	.bg {
	    position: fixed;
	    top: -50%;
	    left: -50%;
	    width: 200%;
	    height: 200%;
	    z-index: 1;
	}

	.bg img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    min-width: 50%;
	    min-height: 50%;
	}
	/* entypo */
	[class*="entypo-"]:before {
	  font-family: 'entypo', sans-serif;
	}

	&.home {
		.content {
			position: relative;
			margin-top: 3em;
		}
	}
}